<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-12">
      <table class="table table-condensed packed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Protocol</th>
            <th>Port</th>
            <th>Default Backend Set Name</th>
            <!-- TODO <th>SSL config</th>
            <th>Hostnames</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="listener in ctrl.listeners">
            <td>
              <span>{{listener.name}}</span>
              <!-- <input class="form-control input-sm" ng-model="listener.name" required ng-blur="ctrl.listenerNameChanged()"/> -->
            </td>
            <td>
              <select class="form-control input-sm" ng-model="listener.protocol" ng-options="protocol for protocol in ['HTTP', 'HTTPS']" on-select="ctrl.updateListenerName(listener.name)"></select>
            </td>
            <td>
              <input class="form-control input-sm" type="number" min="0" ng-model="listener.port" required ng-blur="ctrl.updateListenerName(listener.name)"/>
            </td>
            <td>
              <ui-select class="form-control input-sm" required ng-model="listener.defaultBackendSetName">
                <ui-select-match placeholder="Select default backend set name">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="backendSet.name as backendSet in ctrl.backendSets | filter: $select.search">
                  <span ng-bind-html="backendSet.name | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
              <!-- <select class="form-control input-sm" required ng-model="listener.defaultBackendSetName" ng-options="backendSetName as backendSet.name for backendSet in loadBalancerCmd.backendSets"></select> -->
            </td>
            <td><a href class="sm-label" ng-click="ctrl.removeListener(listener.name)"><span
              class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <button class="add-new col-md-12" ng-click="ctrl.addListener()"><span class="glyphicon glyphicon-plus-sign"></span>
                Add Listener
              </button>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
